body {
  overflow: hidden;
}

.app-container {
  display: flex;
  /* overflow-x: hidden;
  overflow-y: hidden; */
  /* height: 100vh; */
  min-height: 100vh;
}

.main-content {
  /* background-color: #ff7c7c; */
  /* background-color: #2A2B2F; */
  flex: 1;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* .main-content-dark {
  background-color: #2A2B2F;
} */

@media screen and (max-width: 600px) {
  .main-content {
    overflow-y: auto;
    overflow-x: auto;
  }
}